# Demo Passwords
DEV_PASSWORD=s3demo2018
MASTER_DEMO_PASSWORD=s3demo2018
NURSE_MATCH_PASSWORD=
NEXT_PUBLIC_MAPBOX_TOKEN=


# For nurse match
NURSE_TOKEN_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_REGION=us-west-2